/*_text.scss*/
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://use.typekit.net/fgl2ufc.css");
.ff-ko {
  font-family: Krona One,sans-serif; }

.ff-rw {
  font-family: raleway, sans-serif; }

.ff-fs {
  font-family: fira-sans,sans-serif; }

.ff-fs-2 {
  font-family: fira-sans-2, sans-serif; }

.ff-fsc {
  font-family: fira-sans-condensed, sans-serif; }

.ff-fscondensed-2 {
  font-family: fira-sans-condensed-2, sans-serif; }

.ff-fscompressed {
  font-family: fira-sans-compressed, sans-serif; }

.ff-fscompressed-2 {
  font-family: fira-sans-compressed-2, sans-serif; }

.fw-100 {
  font-weight: 100; }

.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-900 {
  font-weight: 900; }

.fs-i {
  font-style: italic; }

.fs-n {
  font-style: normal; }

.text-skyblue {
  color: #63a3f8; }

.text-justify {
  text-align: justify; }

/*_navbar.scss*/
.logo {
  width: 200px;
  min-width: 50px; }

.cuenta {
  justify-content: end;
  margin-left: 7vw; }

.perfil {
  width: 2vw;
  min-width: 30px;
  margin-left: 1rem;
  margin-top: 1rem; }
  @media (min-width: 768px) {
    .perfil {
      margin-top: 0; } }
  .perfil:hover {
    transform: scale(1.5);
    transition: transform 1.5s;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5); }

#mainNavigation {
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 15px;
  background-image: url(../img/vuelos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); }
  #mainNavigation a {
    font-family: "fira-sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px; }

.dropdown-menu {
  background-color: #63a3f8;
  border: none; }

.dropdown-toggle {
  color: #000000 !important; }

.dropdown-item {
  text-align: left; }
  .dropdown-item:hover {
    color: #000000;
    background-color: #ffffff; }

.nav-item {
  min-width: 12vw;
  border-bottom: 1px solid #63a3f8; }
  @media (min-width: 768px) {
    .nav-item {
      border-bottom: none; } }
  .nav-item a {
    color: #000000;
    text-align: left; }
    .nav-item a:hover {
      color: #ffffff;
      transform: translateX(30px);
      transition: transform 1.3s;
      -webkit-transition: transform 1.3s;
      -moz-transition: transform 1.3s;
      -ms-transition: transform 1.3s;
      -o-transition: transform 1.3s;
      -webkit-transform: translateX(30px);
      -moz-transform: translateX(30px);
      -ms-transform: translateX(30px);
      -o-transform: translateX(30px); }
    @media (min-width: 768px) {
      .nav-item a {
        text-align: center; }
        .nav-item a:hover {
          color: #ffffff;
          transform: scale(1.2);
          transition: transform 1.3s;
          -webkit-transition: transform 1.3s;
          -moz-transition: transform 1.3s;
          -ms-transition: transform 1.3s;
          -o-transition: transform 1.3s;
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2); } }
  .nav-item:hover {
    color: #ffffff; }

#mainNavigation {
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 15px;
  background-image: url(../img/vuelos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); }

#navbarNavDropdown.collapsing .navbar-nav {
  padding: 12px; }

#navbarNavDropdown.show .navbar-nav {
  padding: 12px; }

/*_commons.scss*/
* {
  font-family: "fira-sans", sans-serif !important;
  font-weight: 400;
  font-style: normal; }

main {
  background-color: #caeffe; }

.modal-dialog .modal-content {
  background-color: #caeffe;
  border: solid #63a3f8 3px; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70%;
    margin: 2rem auto; } }

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 50%;
    margin: 2rem auto; } }

.modal-dialog-login {
  width: 80vw;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 576px) {
    .modal-dialog-login {
      max-width: 60%;
      margin: 2rem auto; } }
  @media (min-width: 768px) {
    .modal-dialog-login {
      max-width: 40%;
      margin: 2rem auto; } }

.w-3 {
  width: 3vw; }

.w-10 {
  width: 5vw; }

.w-70 {
  width: 70%; }

.w-90 {
  width: 90%; }

.w-40 {
  width: 45%; }

.w-60 {
  width: 75%; }

.btn-skyblue {
  background-color: #63a3f8; }

.btn:hover {
  background-color: #3cadd9;
  color: #ffffff; }

.destino:hover {
  transform: scale(1.1);
  transition: transform 1.5s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: transform 1.5s;
  -moz-transition: transform 1.5s;
  -ms-transition: transform 1.5s;
  -o-transition: transform 1.5s; }

@media (min-width: 768px) {
  .destino:hover {
    transform: scale(1.2);
    transition: transform 1.5s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2); } }

.page-link:hover {
  background-color: #7ea8e6 !important; }

.form-control:focus {
  border-color: #63a3f8; }

main {
  padding-bottom: 5vh; }
  main nav ul {
    margin-bottom: 0 !important; }

/*_commons.scss*/
footer {
  padding: 1rem 0;
  margin-top: 0;
  background-color: #7ea8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  footer .redes-sociales {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0; }
  footer .pie-contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0; }
  footer .copy {
    align-items: center; }
    footer .copy h6 {
      text-align: center;
      color: #000000; }
      @media (max-width: 768px) {
        footer .copy h6 {
          margin-bottom: 0; } }
  footer img[alt^="icono"] {
    width: 30px; }
