/*_navbar.scss*/
.logo{
    width: 200px;
    min-width: 50px;
    }
.cuenta{
    justify-content: end;
    margin-left: 7vw;
    }
    .perfil{
        width: 2vw;
        min-width: 30px;
        margin-left: 1rem;
        margin-top: 1rem;
        @media (min-width: 768px){
            margin-top: 0;

        }
        &:hover{
            transform: scale(1.5);
            transition: transform 1.5s;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
}
    }



#mainNavigation{
    top:0;
    left:0;
    width:100%;
    padding-bottom:15px;
    background-image: $fondoHeader;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:70%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    a{
        font-family: $mainFont;
        font-size:14px;
        text-transform:uppercase;
        letter-spacing:2px;
    }
}

.dropdown-menu{
    background-color: $mainColor;
    border: none;
}
    .dropdown-toggle{
        color: $black !important;
    }
    .dropdown-item{
        text-align: left;
        &:hover{
            color: $black;
            background-color: $white;
        }
    }


    .nav-item{
        min-width:12vw;
        border-bottom: 1px solid $mainColor;
        @media (min-width: 768px){
            border-bottom: none;
        }
        
        a{
            color: $black;
            text-align: left;
            &:hover{
                color: $white;
                transform: translateX(30px);
                transition: transform 1.3s;
                -webkit-transition: transform 1.3s;
                -moz-transition: transform 1.3s;
                -ms-transition: transform 1.3s;
                -o-transition: transform 1.3s;
                -webkit-transform: translateX(30px);
                -moz-transform: translateX(30px);
                -ms-transform: translateX(30px);
                -o-transform: translateX(30px);
            }
            @media (min-width: 768px){
                text-align: center;
                &:hover{
                    color: $white;
                    transform: scale(1.2);
                    transition: transform 1.3s;
                    -webkit-transition: transform 1.3s;
                    -moz-transition: transform 1.3s;
                    -ms-transition: transform 1.3s;
                    -o-transition: transform 1.3s;
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
                }
            }

        }
        &:hover{
            color: $white;
        }
    }



#mainNavigation{
    top:0;
    left:0;
    width:100%;
    padding-bottom:15px;
    background-image: $fondoHeader;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:70%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

#navbarNavDropdown.collapsing{
    .navbar-nav{
        padding:12px;
    }
}




#navbarNavDropdown.show{
    .navbar-nav{
        padding:12px;
    }
} 