//Variables globales

//Colores
$mainColor: #63a3f8;
$secondaryColor: #183561;
$keyColor: #7ea8e6;
$white: #ffffff;
$black: #000000;
$btnhover: #3cadd9;
$bgColorMain: #caeffe;

//---------------------PALETAS DE COLORES---------------------
    //Agencia de viajes:
        //Color: #183561;
        //Color: #7EA8E6 ;
        //Color: #387BE0 ;
        //Color: #354761 ;
        //Color: #2B5FAD ;
        //Skyblue color: #4990EC ;

    //Naturaleza:
        //Color: #B8CEED ;
        //Color: #2775A2 ;
        //Color: #5F90BB ;
        //Color: #8EBAE5 ;
        //Color: #345D79 ;



//Rutas imagenes
$fondoHeader: url(../img/vuelos.png);





